<div id="concert">
    <h1>Band</h1>
    <p><%= @concert.band %></p>
    <h3>Venue</h3>
    <p><%= @concert.venue %></p>
    <h3>City</h3>
    <p><%= @concert.city %></p>
    <h3>Date</h3>
    <p><%= @concert.date %></p>
    <h3>Price</h3>
    <p><%= @concert.price %></p>
    <h3>Description</h3>
    <p><%= @concert.description %></p>

</div>
