<div id="concert">
    <h1>Band</h1>
    <p><%= @concert.band %></p>
    <h3>Venue</h3>
    <p><%= @concert.venue %></p>
    <h3>City</h3>
    <p><%= @concert.city %></p>
    <h3>Date</h3>
    <p><%= @concert.date %></p>
    <h3>Price</h3>
    <p><%= @concert.price %>€</p>
    <h3>Description</h3>
    <p><%= @concert.description %></p>

    <div id="comment">
      <br><br><br>
      <%= link_to("Add a comment", new_concert_comment_path(@concert.id)) %>
      <h3>What do people think about this concert</h3>
      <% if @concert.comments.count == 0 %>
        <p>There are no coments.<%=link_to(" Be the first to comment.",new_concert_comment_path(@concert))%></p>
        <% else %>
        <% @concert.comments.each do |each| %>
          <div class="box12">

          <p>Anonymous said: <%= each.text %></p>
          </div>
        <% end %>
      <%end%>
    </div>

</div>
