<div style="width:50%; margin:0 auto; display:block;text-align:center;text-family:monospace;">
  <%= form_for [@user] do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <br>
  <%= f.label :email%>
  <%= f.text_field :email%>
  <br>
  Password
  <%= f.password_field :password%>
  <br>
  Password Confirmation
  <%= f.password_field :password_confirmation%>
  <br>
  <%= f.submit 'Add user' %>
  <% end %>
</div>
