<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="width:30%;margin:0 auto;text-align:center;">
		<h1><%=@project.name%></h1>
		<h4><%=@project.description%></h4>
		<% @entries.each do |element|%>
		<li style="text-decoration:none;">
			Entry: <%= element.comments%> - Time: <%= element.hours %>  hours and <%= element.minutes %> minutes created at <%= element.date %> 
		<%end%>
		<p>Total hours worked: <%= @total_hours%> and <%=@minutes%> minutes</p>
		</li>
		<a href="/projects/<%=@prev_project%>/entries">Previous</a>
		<a href="/projects/<%=@next_project%>/entries">Next</a>
	</div>
</body>
</html>