<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="width:40%;margin:0 auto;text-align:center;">
	
		<h1><%=@project.name%></h1>
		<h4><%=@project.description%></h4>
		<% @entries.each do |element|%>
		<li style="text-decoration:none;">
			Entry: <%= element.comments%> - Time: <%= element.hours %>  hours and <%= element.minutes %> minutes created at <%= element.date %> 
			<%= link_to('Edit entry', edit_project_entry_path(@project, element))%>
			&nbsp;
			<%= link_to('Delete', project_entry_path(@project, element), method: :delete, data:{confirm: 'Are you sure?'}) %>
		</li>
		<%end%>
		<div style="width=40%;display:block; background-color: green;color: white;">

		<%= flash_message %>
		</div>

		<!--<p>Total hours worked: <%= @total_hours%> hours and <%=@minutes%> minutes</p>-->

		<%= total_hours %><br>
		
		<%= link_to('Add a new entry', new_project_entry_path(@project))%>
		
		<a href="/projects/<%=@prev_project%>/entries">Previous</a>
		<a href="/projects/<%=@next_project%>/entries">Next</a>
	</div>
</body>
</html>